/* Quando a largura da tela for maior que 1025px, aplique essas regras */
@media screen and (min-width: 1025px) {
    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-image: url('../assents/foto_fundo.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .containerOne {
        background-color: rgb(255, 255, 255);
        width: 1025px;
        height: 95%;
        box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, 0.5);
        background-image: url('../assents/fundo2.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .divImg {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .imgPerfil {
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTop {
        background-color: transparent;
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .titleTopText {
        color: white;
        margin: 0;
        font-size: 45px;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTopTextDev {
        font-size: 30px;
        color: white;
        margin: 0;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }
}

/* Quando a largura da tela for entre 1024px e 1440px, aplique essas regras */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-image: url('../assents/foto_fundo.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .containerOne {
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 95%;
        box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, 0.5);
        background-image: url('../assents/fundo2.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .divImg {
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .imgPerfil {
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTop {
        background-color: transparent;
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    }

    .titleTopText {
        color: white;
        margin: 0;
        font-size: 45px;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTopTextDev {
        font-size: 30px;
        color: white;
        margin: 0;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }
}

/* Quando a largura da tela for entre 1024px e 768px, aplique essas regras */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-image: url('../assents/foto_fundo.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .containerOne {
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 95%;
        box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, 0.5);
        background-image: url('../assents/fundo2.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .divImg {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        flex-direction: column;
    }

    .imgPerfil {
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTop {
        background-color: transparent;
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;

    }

    .titleTopText {
        color: white;
        margin: 0;
        font-size: 45px;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTopTextDev {
        font-size: 30px;
        color: white;
        margin: 0;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }
}

/* Quando a largura da tela for entre 0px e 767px, aplique essas regras */
@media screen and (min-width: 0px) and (max-width: 767px) {
    #container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        background-image: url('../assents/foto_fundo.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .containerOne {
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 95%;
        box-shadow: 2px 2px 10px 2px rgba(255, 255, 255, 0.5);
        background-image: url('../assents/fundo2.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .divImg {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
    }

    .imgPerfil {
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTop {
        background-color: transparent;
        justify-content: center;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

    }

    .titleTopText {
        color: white;
        margin: 0;
        font-size: 35px;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTopTextDev {
        font-size: 25px;
        color: white;
        margin: 0;
        font-weight: bolder;
        box-shadow: 5px 5px 5px 5px rgba(255, 255, 255, 0.5);
    }

    .titleTopTextDev {
        font-size: 15px;
        margin-top: 10px;
    }

    .divImg img {
        width: 100px;
    }
}